body{
    margin: 0px;
    background-color: whitesmoke;
}

/*================= NAVBAR SECTION =================*/
.flex-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    align-content: stretch;

}

#navbar{
    background-color: cornflowerblue;
    height: 6vmin;
    width: 100%;
    background-color: white;
    
    

}
#navbar p{
    padding: 0px;
    margin: 0px;
}
.logo{
    flex-basis:20%;
}
.logo img{
    padding: 8px;
    max-width: 10vmin;
}
.search{
    margin: 0 auto 0 auto;
    text-align: center;
    width: 50%;
    flex-basis: 50%;
}
.searchicon{

    max-width: 1vmin;
    
}
#search{
    margin-right: -5px;
}
.appicon{
    display:inline-block;
    width: 3vmin;
    margin: 10px;
    
}

.buttons{
    display: flex;
    flex-basis:30%;
    text-align:right;
}




/*================= CONTENT SECTION ================*/
#content{
    background-color: yellowgreen;
}
/*================= PLAYLIST SECTION ===============*/
#playlist{
    background-color: tomato;
}